.card-body {
    align-content: center;
}

.card-degrees {
    font-size: 60px;
}

.card-text {
    font-size: 30px;
}

.prediction {
    font-size: 60px;
}



.jumbotron-fluid{
    color:rgb(158, 18, 8);
    margin-top: 70px;
    background-image: url("../img/chicago-2858987_960_720.png");
    background-position: top;
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Arvo', serif;
    color:rgb(158, 18, 8);
}



.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light{
    font-family:  'Arvo', serif;
}

a.nav-link:hover  {
    color: red;
}

#map,
body,
html {
  height: 500px;
}